.poster
  position: relative
  padding-top: 23px
  padding-bottom: 60px
  +media-breakpoint-down(lg)
    padding-top: 0
  +media-breakpoint-down(sm)
    padding-bottom: 46px
  &-title
    margin-bottom: 44px
    +media-breakpoint-down(lg)
      margin-bottom: 22px
    &.no-home
      &::after
        +media-breakpoint-down(lg)
          display: none
  &-btn
    top: -50px !important
    right: 15px !important
    +media-breakpoint-down(md)
      top: unset !important
      bottom: -52px !important
      right: unset !important
      left: 15px !important
  &.home
    padding-top: 59px
    +media-breakpoint-down(md)
      padding: 46px 0 95px
    .poster-title
      margin-bottom: 25px
      +media-breakpoint-down(sm)
        margin-bottom: 19px
    .poster-wrap
      margin-bottom: 0
      +media-breakpoint-down(sm)
        margin-bottom: 10px
      &:last-child
        +media-breakpoint-down(lg)
          display: none
        +media-breakpoint-down(sm)
          display: block
          margin-bottom: 0
      &:nth-child(4)
        +media-breakpoint-down(md)
          display: none
        +media-breakpoint-down(sm)
          display: block
  &-pagination
    margin-top: 20px
    +media-breakpoint-down(sm)
      margin-top: 36px
    +media-breakpoint-down(xs)
      margin-top: 22px
  &-list
    position: relative
    display: flex
    justify-content: flex-start
    flex-wrap: wrap
    margin: 0 -10px
  &-wrap
    position: relative
    width: 20%
    margin-bottom: 40px
    padding: 0 10px
    +media-breakpoint-down(lg)
      width: 25%
    +media-breakpoint-down(md)
      width: 33.33%
    +media-breakpoint-down(sm)
      width: 100%
      margin-bottom: 10px 
  &-item
    position: relative
    display: block
    box-shadow: 0px 2px 22px rgba(9, 15, 23, 0.28)
    background: #222225
    border-radius: 10px
    height: 100%
    +media-breakpoint-down(sm)
      display: flex
      padding: 13px 10px
    &:hover
      text-decoration: none
      &::after
        opacity: 1
      .poster-item__btn
        background: $textcolor
    &::after
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      border: 1px solid $accent
      border-radius: 10px
      opacity: 0
      z-index: 1
      transition: $trs
    &__img
      position: relative
      height: 298px
      overflow: hidden
      +media-breakpoint-down(sm)
        flex: 0 0 85px
        height: 124px
      img
        max-width: 100%
        width: 100%
        height: 100%
        object-fit: cover
        border-top-left-radius: 10px
        border-top-right-radius: 10px
        +media-breakpoint-down(sm)
          border-radius: 10px
    &__bottom
      position: relative
      padding: 15px 16px 12px
      +media-breakpoint-down(sm)
        width: 100%
        padding: 0 10px
        display: flex
        flex-direction: column-reverse
        justify-content: flex-end
    &__btn
      font-size: 12px
      line-height: 14px
      border: none
    &__info
      margin-top: 7px
      +media-breakpoint-down(sm)
        margin-top: 0
    &__title
      font-size: 14px
      font-weight: 600
      line-height: 20px
      color: $textcolor
      +media-breakpoint-down(xs)
        line-height: 1.6
    &-list
      margin-top: 7px
      +media-breakpoint-down(sm)
        margin: 7px 0
      &__line
        display: flex
        align-items: center
        &:last-child
          margin-bottom: 0
      &__icon
        flex: 0 0 12px
        text-align: center
        height: auto
        margin-right: 8px
      &__def
        font-size: 12px
        line-height: 15px
        color: rgba(255, 255, 255, 0.76)
  .catalog-filter
    +media-breakpoint-down(lg)
      margin-bottom: 27px
    &__sort
      +media-breakpoint-down(lg)
        margin-left: 0
        width: 100%